@import "antd/dist/antd.css";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background: rgb(22,160,133); */
	background: linear-gradient(
		90deg,
		rgba(22, 160, 133, 1) 0%,
		rgba(244, 208, 63, 1) 100%
	);
}
